<nav>
    <div class="site-title">
        <a href="/">
            <h1>米修在线</h1>
        </a>
        <p>官方网站</p>
    </div>
    <ul>
        <li><a href="/">博客</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/blogs/create">创建博客</a></li>
    </ul>
</nav>