<nav>
    <div class="site-title">
        <a href="/">
            <h1>Recording CARD</h1>
        </a>
        <p>Martin&Fey</p>
    </div>
    <ul>
        <li><a href="/">卡片</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/blogs/create">创建卡片</a></li>
    </ul>
</nav>