<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 

<body>

    <%- include("./partials/nav.ejs") %> 

    <div class="blogs content">
        <h2>关于我们</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate expedita soluta veritatis cum excepturi
            dignissimos sint totam recusandae voluptates debitis?</p>
    </div>
    <%- include("./partials/footer.ejs") %> 
</body>

</html>